$text-color-main: #060b35;
$text-color-secondary: #616070;
$blue-accent: #00acdc;
$border-color-light: #f3f3f3;
$title-hover-color: #34568b;
$background-color-white: #fff;
$tablet-min-width: 488px;
$laptop-min-width: 768px;
$desktop-min-width: 1024px;
$card-width: 200px;
$card-padding-top: 32px;
$card-padding-x: 16px;
$card-img-width: 160px;
$card-img-height: 134px;
$card-buy-height: 40px;
$font-size-small: 12px;
$font-size-base: 14px;
$font-size-large: 16px;
$star-size: 16px;
$star-gap: 4px;
$logo-size: 40px;
